<!DOCTYPE html >
<html lang="en" ng-app="infoShowApp">
<head>
    <meta charset="UTF-8">
    <title>Restauracja Tenisowa - wersja próbna strony</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/scrollStyle.css">
    <!--Dodać jeszcze brakujące elementy-->
    <script type="text/javascript" src="script/lib/angular.min.js"></script>
    <script type="text/javascript" src="script/infoShow.js"></script>
</head>
<body >
    <main class="foto1" ng-controller="menuController">

        <button id="up-left" class="menu col-xs-4" ng-click="upLeftInfo = !upLeftInfo">#lewo</button>
        <button id="up-middle" class="menu col-xs-4" ng-click="upMiddleInfo = !upMiddleInfo">środek</button>
        <button id="up-right" class="menu col-xs-4" ng-click="upRightInfo = !upRightInfo">#prawo</button>


        <button id="middle-left" class="menu col-xs-4"  ng-click="middleLeftInfo = !middleLeftInfo">@LEWO</button>

            <up-left-dir ng-hide="upLeftInfo" class="showText"></up-left-dir>
            <up-middle ng-hide="upMiddleInfo" class="showText"></up-middle>
            <up-right ng-hide="upRightInfo" class="showText"></up-right>
            <middle-left ng-hide="middleLeftInfo" class="showText"></middle-left>
            <middle-right ng-hide="middleRightInfo" class="showText"></middle-right>
            <bottom-left ng-hide="bottomLeftInfo" class="showText"></bottom-left>
            <bottom-middle ng-hide="bottomMiddleInfo" class="showText"></bottom-middle>
            <bottom-right ng-hide="bottomRightInfo" class="showText"></bottom-right>

        <button id="middle-right" class="menu col-xs-4"  ng-click="middleRightInfo = !middleRightInfo">PRAWO</button>


        <button id="bottom-left" class="menu col-xs-4 down-left" ng-click="bottomLeftInfo = !bottomLeftInfo">#lewo</button>
        <button id="bottom-middle" class="menu col-xs-4 down-middle"  ng-click="bottomMiddleInfo = !bottomMiddleInfo"środek</button>
        <button id="bottom-right" class="menu col-xs-4 down-right" ng-click="bottomRightInfo = !bottomRightInfo">@prawo</button>

    </main>
    <footer>

    </footer>

<script type="text/javascript" src="script/lib/jquery-3.1.0.min.js"></script>
<script type="text/javascript" src="script/scroller.js"></script>
<script type="text/javascript" src="script/mainMenu.js"></script>

</body>
</html>