main {
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 100vh;

    background-position: center;
    background-size: cover;

    background-color: darkcyan;
}

footer {
    height: 4vh;
    background-color: #2aabd2;
}

#upPage, #midPage, #downPage {
    height: 32vh;
}

.foto1 {
    background-image: url('../images/scroll1.jpg');
}
.foto2 {
    background-image: url('../images/scroll2.jpg');
}

.foto3 {
    background-image: url('../images/scroll3.jpg');
}

#up-left {
    position: fixed;
    height: 5vh;
    width: 5vw;
    top: 0;
    left: 0;
}

#up-middle {
    position: fixed;
    height: 5vh;
    width: 5vw;
    top: 0;
    left: 47.5vw;
}

#up-right {
    position: fixed;
    height: 5vh;
    width: 5vw;
    top: 0;
    right: 0;
}

#middle-left {
    position: fixed;
    height: 5vh;
    width: 5vw;
    top: 47.5vh;
    left: 0;
}

#middle-middle {
    position: fixed;
    top: 10vh;
    left: 10vw;

    height: 80vh;
    width: 80vw;
}

#middle-right {
    position: fixed;
    height: 5vh;
    width: 5vw;
    top: 47.5vh;
    right: 0;
}

#bottom-left {
    position: fixed;
    height: 5vh;
    width: 5vw;
    bottom: 0;
    left: 0;
}

#bottom-middle {
    position: fixed;
    height: 5vh;
    width: 5vw;
    bottom: 0;
    left: 47.5vw;
}

#bottom-right {
    position: fixed;
    height: 5vh;
    width: 5vw;
    bottom: 0;
    right: 0;
}

.showText {
    position: fixed;
    height: 80vh;
    width: 80vw;
    top: 10vh;
    right: 10vh;

    background-color: white;
}