main {
    height: 96vh;

    display: flex;
    flex-direction: column;
    align-items: center;


    background-position: center;
    background-size: cover;

    background-color: darkcyan;
}

footer {
    height: 4vh;
    background-color: #2aabd2;
}

#upPage, #midPage, #downPage {
    height: 32vh;
}

.menu:hover {
    font-size: 5vh;
    background-color: #0f0f0f;
}


.foto1 {
    background-image: url('../images/scroll1.jpg');
}
.foto2 {
    background-image: url('../images/scroll2.jpg');
}

.foto3 {
    background-image: url('../images/scroll3.jpg');
}
